{% extends 'base.html' %}
{% block content %}

<!-- If no classes  -->
<h3>There are no Classes</h3>

<!-- If user is admin
    class name, teacher name, list of students-->
<div class="card">
    <a>Class Name</a>
        <div class="card-content">
        </div>
    </a>
</div>
<!-- If user is teacher 
    class name, list of students-->
<div class="card">
    <a>Class Name</a>
        <div class="card-content">
        </div>
    </a>
</div>
<!-- If user is student
    class name, list of assignments -->
    <div class="card">
        <a>Class Name</a>
            <div class="card-content">
            </div>
        </a>
    </div>
{% endblock %}