{% extends 'base.html' %}

{% block content %}

<!-- If user is admin -->

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ classroom.subject }}</span>
        <p>Description: {{ classroom.description }}</p>
        <table class="striped">
            <thead>
              <tr><th>Assignment</th><th>Description</th></tr>
            </thead>
            <tbody>
              {% for assignment in classroom.assignment_set.all %}
                <tr>
                  <td>{{assignment.name}}</td>
                  <td>{{assignment.get_description_display}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        <!-- still need list of students here  -->
    </div>
<div class="card-action">
    <a href="{% url 'classrooms_update' classroom.id %}">Edit</a>
    <a href="{% url 'classrooms_delete' classroom.id %}">Delete</a>
    <a href="{% url 'assignment_create' classroom.id %}">Create Assignment</a>
    
</div>
   <!-- Available toys will come after this line -->
   <!-- </div> -->
<!-- <div class="card-action">
    <a href="">Edit</a>
    <a href="">Delete</a>
</div> -->

<!-- If user is teacher -->


{% endblock %}