{% extends 'base.html' %}
{% block content %}

<!-- If user is admin
    class name, teacher name, list of students-->
{% if profile.user_type == admin and object_list.count == 0 %}
    <h3 class="red-text">There are no Classes</h3>
{% elif profile.user_type == admin %}
    {% for classroom in classrooms %}
    <div class="card">
        <a href="{% url 'classroom_detail' classroom.id %}">
            <div class="card-content">
                <span class="card-title">{{ classroom.subject }}</span>
                <!-- still need to add list of students here -->
            </div>
        </a>
    </div>
    {% endfor %}
<!-- If user is teacher 
    class name, list of students-->
{% elif profile.user_type == teacher and object_list.count == 0 %}
    <h3 class="red-text">There are no Classes</h3>
{% elif profile.user_type == teacher %}
    {% for classroom in classrooms %}
    <div class="card">
        <a href="{% url 'classroom_detail' classroom.id %}">
            <div class="card-content">
                <span class="card-title">{{ classroom.subject }}</span>
                <!-- still need to add list of students here -->
            </div>
        </a>
    </div>
    {% endfor %}
<!-- If user is student
    class name, list of assignments -->
{% elif profile.user_type == student and object_list.count == 0 %}
    <h3 class="red-text">There are no Classes</h3>
{% elif profile.user_type == student %}
    {% for classroom in classrooms %}
    <div class="card">
        <a href="{% url 'classroom_detail' classroom.id %}">
            <div class="card-content">
                <span class="card-title">{{ classroom.subject }}</span>
                <!-- still need to add list of assignments here -->
            </div>
        </a>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}