{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="">
<img src="{% static 'images/HomeRoomLogocrop.png' %}"  style="margin:80px 10px -40px 100px;"width="60%" height="60%">
</div>
    <div style="margin:10px;">
       <h4 class="" style="display: initial;
       margin-block-start: 0em;
       margin-block-end: 16.33em;
       margin-inline-start: 70px;
       margin-inline-end: 0px;
       line-height: 10px;
       font-size: 2.92rem;
       margin: 78px 4px -68px 57p;
       letter-spacing: -1px;
       color: #535353;
       font-family: 'Nanum Pen Script', cursive;
   ">"Where assignments are made easy"</h4> 
    </div>
            {% if user.is_authenticated %}
        <ul> 
        <div id="classpgbtn" class="class" style=" margin: 0px 10px 40px 90px;  display:flex; flex-wrap: no-wrap;" >
            <li id="classpgbtn"><a href="{% url 'classrooms_index' %}" class="btn blue" style="border-radius: 10px; margin-left: 40px; margin-right: 40px;">View All Classrooms</a></li>
            <li id="classpgbtn"><a href="{% url 'classrooms_create' %}" class="btn blue" style="border-radius: 10px;">Create a Class</a></li>
            
        </div>
        </ul>   
             {% else %}   
             <ul> 
                <div id="classpgbtn" class="class" style=" margin: 0px 10px 40px 90px; " >
                    <li id="classpgbtn"><a href="{% url 'signup' %}" class="btn blue" style="border-radius: 10px; padding: 0px 40px 0px 40px;margin-left: 100px; margin-right: 40px;">Signup</a></li>
                    <li id="classpgbtn"><a href="{% url 'login' %}" class="btn blue" style="border-radius: 10px; padding: 0px 40px 0px 40px; margin-left: 250px; margin-right: 40px;">Login</a></li>
                    
                </div>
                </ul>   
   {% endif %}



{% endblock %}