body {
    background-color:#C5C7C7;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: gray;
    background-image: url('/static/images/compbg.jpg');
}
  
main {
    flex: 1 0 auto;    
}

nav{
    background-color: #86dcfc96;
    height: auto;
    
}


nav li a {
    color: gray;
    display: flex;
    flex-direction: row;
}

form{
    display: flex;
    flex-direction: column; /* default */
    font-size: 12px;  
    padding: 10px;
    border-radius: 10px;
  
}

div.column {
    border-radius: 10px;
}


#loginform {
    display: flex;
    flex-direction: column; /* default */
    font-size: 12px;  
    padding: 0px;
    background-image: url('/static/images/paperbg.png');
    background-size: 120%;
    background-position: center;
}

#signinform {
    display: flex;
    flex-direction: column; /* default */
    font-size: 12px;  
    padding: 0px;
    background-image: url('/static/images/paperbg.png');
    background-size: 120%;
    background-position: center;
}

div.column{
    margin: 50px 100px 100px 100px;
    
}

span.helptext{
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    padding: 0px 10px 0px 10px;
    display: flex;
}

 p {
     margin: 0px 0px 20px 100px;
 }   



/* 
 li {
     display: flex;
     flex-direction:column;
     padding: 0px 0px 0px 100px;
 } */

/* login in */
#id_username {
  
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid;
    border-color: #0093dd;
    border-radius: 10px;
    height: 3rem;
    width: 70%;
    font-size: 30px;
    margin: 0 0 8px 0;
    font-family: 'Nanum Pen Script', cursive;
}

#id_password {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid;
    border-color: #0093dd;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}


/* sign up form */

#id_password1 {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid;
    border-color: #0093dd;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}

#id_password2 {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid;
    border-color: #0093dd;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}

#id_address {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid;
    border-color: #0093dd;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}


#id_phone_number {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid;
    border-color: #0093dd;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}

#id_subject {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid;
    border-color: #0093dd;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 30px;
    margin: 0 0 8px 10px;
    font-family: 'Nanum Pen Script', cursive;
   
}

/* dashboard */
#classcards {
    border-color: #0093dd;
    border-radius: 20px;
  
}
 
span.card-title {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
}

div.card.content {
    margin: 70px;
}


/* ---------------- */
div.select-wrapper{
    padding:10px;
}


input.select-dropdown.dropdown-trigger{
    margin: 0;
    padding: 10px;
    width: 30vh;
}


 svg.caret {
    position: absolute;
 }


footer.page-footer {
    background-color: #86dcfc96;
    padding-top: 0;
    text-align: right;
    color: gray
}

.brand-logo:hover {
    background: none !important;
}

#deletecontain.container {
    display:flex;
    position: absolute;
    flex-flow: row;
    flex: 3 100%;
}


 /* #signpgbtn {
   display:flex;
    position: absolute;
    flex-flow: row;
    flex: 3 100%;
} */

/* #classpgbtn {
    display:flex;
    position: absolute;
    flex-flow: row;
    flex: 3 100%;
} */