body {
    background-color:#C5C7C7;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: gray;
}
  
main {
    flex: 1 0 auto;    
}

nav{
    background-color: #CAEEEF;
    height: auto;
    color: gray;
}

nav li a {
    color: gray;
    display: flex;
    flex-direction: row;
}

form{
    display: flex;
    flex-direction: column; /* default */
    font-size: 12px;  
    padding: 10px;
  
}

#loginform {
    display: flex;
    flex-direction: column; /* default */
    font-size: 12px;  
    padding: 0px;
    background-image: url('/static/images/paperbg.png');
    background-size: 120%;
    background-position: center;
  
}

div.column{
    margin: 50px 100px 100px 100px;
}

span.helptext{
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    padding: 0px 10px 0px 10px;
    display: flex;
}

 p {
     margin: 0px 0px 20px 100px;
 }   

 li {
     display: flex;
     flex-direction:column;
     padding: 0px 0px 0px 100px;
 }

#id_username {
  
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
  

}

#id_password {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}




#id_password1 {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}

#id_password2 {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}

#id_address {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}


#id_phone_number {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: darkblue;
    height: 3rem;
    width: 70%;
    font-size: 16px;
    margin: 0 0 8px 0;
}


div.select-wrapper{
    padding:10px;
}


input.select-dropdown.dropdown-trigger{
    margin: 0;
    padding: 10px;
    width: 30vh;
}


 svg.caret {
    position: absolute;
 }


footer.page-footer {
    background-color: #CAEEEF;
    padding-top: 0;
    text-align: right;
    color: gray
}


